*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: hsl(257, 40%, 49%);
    background-image: url('../images/bg-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
main{
    display: grid;
    grid-template-rows: 100px 1fr 70px;
    width: 80%;
    margin: 0 auto;
    gap: 5px;

}
.header{
    display: grid;
    align-items: center;
}
.hero{
    display: grid;
    gap: 35px;
}
.image{
    width: 100%;
    height: 240px;
}
.hero-info__title{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.hero-info__description{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: rgb(236, 222, 222);
    text-align: center;
    margin-bottom: 20px;
}
.hero-info__register{
    width: 180px;
    height: 40px;
    display: grid;
    margin: 0 auto;
    place-content: center;
    background-color: wheat;
    color: hsl(257, 40%, 49%);
    font-size: 1.2rem;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px hsl(257, 36%, 35%);
    margin-bottom: 30px;
    text-decoration: none;
}
.hero-info__register span{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.header-logo{
    width: 120px;
    height: 50px;
}
footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 200px;
    place-self: center;
    justify-items: center;
}
.social-link{
    width: 35px;
    height: 35px;
    display: block;
}